@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
body{
    background-color:#91d18b;
}
h1{
    color:white;
    font-family: 'Bangers', cursive;
    font-size:70px;
}
.diceArea{
    margin:5%;
}
button{
    height: 50px;
    width: 150px;
}